@media screen and (max-width: 578px){


    .menu a{
    position: absolute;
  top: 0;
    font-size: 15px;
    width: 100px;
   right: 150px;
 

    
   
            }
    .menu ul{
        display: flex;
        flex-direction: column;
        position: relative;
        font-size: 10px;
        
  


    width: 100px;

            }

  

    .menu li {

    position: relative;
    padding: 20px;

    margin-left: 200px;

   
   
  
  
  
    }
    .principal{
        position: relative;
        
        width: 100%;
        background-repeat: no-repeat;
        background-size: 400px 400px;
        background-position: top;
        width: 100%;
   
        
       
    }
}



/* footer */

@media screen and (max-width: 578px){

    .logo-footer img{
        position: absolute;
        left: 0;
        width: 100%;
      
    }


    .colun h2, h3{
        position: relative;
        font-size: 20px;
        width: 300px;
        right: 150px;
        text-align: center;
    }
.redes{
    width: 100%;
}
    .redes li{
        position: relative;
        display: inline-block;
        top: 150px;
        right: 40px;
        width: 120px;

    }

#trabalhos h1{
    width: 100%;
}



}

