@media screen and (max-width: 578px){

    .menu a{
        position: absolute;
      top: 0;
        font-size: 15px;
        width: 100px;
       right: 150px;
     
    
        
       
                }
        .menu ul{
            display: flex;
            flex-direction: column;
            position: relative;
            font-size: 10px;
            
      
    
    
        width: 100px;
    
                }
    
      
    
        .menu li {
    
        position: relative;
        padding: 20px;
    
        margin-left: 200px;
    
       
       
      
      
      
        }
}


/* footer */

@media screen and (max-width: 578px){




    .colun h2, h3{
        position: relative;
        font-size: 20px;
        width: 300px;
        right: 150px;
        text-align: center;
    }
.redes{
    width: 100%;
}
    .redes li{
        position: relative;
        display: inline-block;
        top: 150px;
        right: 40px;
        width: 120px;

    }




}

/* show */

@media screen and (max-width: 578px){
    #carouselExampleControls{
        position: absolute;
        top: 200px;
        width: 100%;
       
    }




    .principal h1{
        position: absolute;
        top: 120px;
    }

/* footer */}

@media screen and (max-width: 578px){

    footer{
        position: absolute;
        width: 100%;
        top: 400px;
    }
    .logo-footer img{
        position: absolute;
        right: 30px;
        width: 100%;
      
    }


}