@media screen and (max-width: 578px){

    .menu a{
    position: absolute;
    font-size: 15px;
    width: 150px;
    left: 250px;
}
.menu ul{
    width: 100%;
    
}

  
}
.menu li {
    display: inline-block;
    position: relative;
    width: 90px;
    height: 30px;
    

    left: 300px;
    margin-left: 180px;
  
  
  
}



/* footer */

@media screen and (max-width: 578px){




    .colun h2, h3{
        position: relative;
        font-size: 20px;
        width: 300px;
        right: 150px;
        text-align: center;
    }
.redes{
    width: 100%;
}
    .redes li{
        position: relative;
        display: inline-block;
        top: 150px;
        right: 40px;
        width: 120px;

    }




}

/* show */

@media screen and (max-width: 578px){
    #carouselExampleControls{
        position: absolute;
        top: 200px;
        width: 100%;
       
    }




    .principal h1{
        position: absolute;
        top: 120px;
    }

/* footer */}

@media screen and (max-width: 578px){

    footer{
        position: absolute;
        width: 100%;
        top: 400px;
    }
    .logo-footer img{
        position: absolute;
        right: 30px;
        width: 100%;
      
    }


}